@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    @*<ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li></li>
    </ul>*@
        
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger pull-right">LOG ME OUT</a>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-info pull-right" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success pull-right" })</li>
    </ul>*@
    @*<div>
        <div>@Html.ActionLink("REGISTER", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-info pull-right" })</div>
        <div>@Html.ActionLink("LOG ME IN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success pull-right" })</div>       
    </div>*@
    @Html.ActionLink("LOG ME IN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success pull-right" })
}
